:root {
    --primary: #212529;
    --bg-color: #F9EECA;
    --accent-pink: #F4436C;
    --type-green: #00635B;
    --type-blue: #213E7B;
    --type-purple: #AE2573;
}

html {
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lexend';
    color: var(--primary);
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    background-color: var(--bg-color);
}

.container {
    padding: 0rem 0.5rem 0rem 0.5rem;
}

.container-review {
    display: flex;
    justify-content: center;
}

.review {
    background-color: #fff;
    border-radius: 15px 15px 0 0;
    min-width: 290px;
    max-width: 475px;
    height: 520px;
}

.title {
    margin: 1.5rem 0rem 1rem 0rem;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 700;
    color: #000;
}

.img-container {
    margin: 0 auto;
    position: relative;
}

#img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    object-position: top;
    border-radius: 15px 15px 0px 0px;
}

.btn-prev,
.btn-next {
    position: absolute;
    z-index: 1;
    bottom: -10px;

    box-shadow: 5px 5px 90px #222;
    opacity: 0.95;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: auto;
}

.btn-prev {
    left: 0;
    margin-left: -10px;
}

.btn-next {
    right: 0;
    margin-right: -10px;
}

.content {
    padding: 0rem 1rem 1.25rem 1rem;
}

.stars-type-container {
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0rem 0rem 0rem;
}

.stars i {
    color: var(--accent-pink);
}

.type {
    background-color: #222;
    color: #fff;
    font-weight: 600;
    padding: 0.25rem 0.75rem;
    border: 1px solid;
    border-radius: 5px;    
}

.body {
    background-color: var(--type-blue);
}

.tan {
    background-color: var(--type-purple);
}

.hair {
    background-color: var(--type-green);
}

.product {
    font-weight: 600;
}

#product {
    color: var(--accent-pink);
    text-decoration: underline;
}

#author {
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.btn {
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.btn i {
    color: #222;
    font-size: 1.5rem;
}

.btn-container-random {
    margin-top: 1rem;
    text-align: center;
}

.btn-random {
    background-color: var(--accent-pink);
    border-radius: 5px;
    padding: 0.4rem 0.55rem;
}

.btn-random i {
    color: #fff;
}

footer {
    visibility: hidden;
}

@media (min-height: 812px){
    main {
        margin-top: 18%;
    }
    .review {
        border-radius: 15px;
        height: 560px;
    }
    #img {
        height: 230px;
    }
    .container {
        padding: 0rem 1rem 0rem 1rem;
    }
    .title {
        margin: 0rem 0rem 2rem 0rem;
    }
    .btn-container-random {
        margin-top: 1.75rem;
    }
}

@media (min-width: 414px){
    main {
        margin-top: 12%;
    }
    .review {
        border-radius: 15px;
    }
    .container {
        padding: 0rem 1rem 0rem 1rem;
    }
    .title {
        margin: 0rem 0rem 2rem 0rem;
    }
    .btn-container-random {
        margin-top: 1.75rem;
    }
}

@media (min-width: 768px){
    main {
        margin-top: 12%;
    }
    .container {
        padding: 0;
    }
    .title {
        margin: 0rem 0rem 3rem 0rem;
    }
    h2 {
        font-size: 2.75rem;
    }
    .review {
        height: 620px;
    }
    #img {
        height: 300px;
    }
    .content {
        padding: 0rem 1.5rem 1.25rem 1.5rem;
    }
    .btn-container-random {
        margin-top: 3rem;
    }
    .btn-container-random i {
        font-size: 1.75rem;
    }
    .btn-prev,
    .btn-next {
        bottom: -10px;
        width: 75px;
        height: 75px;
    }
    .btn-prev i,
    .btn-next i {
        font-size: 1.75rem;
    }
    .btn-prev {
        margin-left: -50px;
    }
    .btn-next {
        margin-right: -50px;
    }
}
@media (min-width: 900px){
    body {
        position: relative;
    }
    main {
        margin-top: 3%;
    }
    .review {
        max-width: 475px;
        height: 550px;
    }
    #img {
        height: 265px;
    }
    .title {
        margin: 0rem 0rem 2rem 0rem;
    }
    h2 {
        font-size: 2rem;
    }
    .btn-container-random i {
        font-size: 1.25rem;
    }
    .btn-container-random {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }
    footer {
        visibility: visible;
        position: absolute;
        width: 100%;
    }
    .footer-element {
        font-family: 'Roboto Mono';
        display: flex;
        justify-content: space-between;
        padding: 0rem 2rem 0rem 2rem;
    }
    .footer-element i, .footer-element a {
        font-size: 1.5rem;
        color: var(--type-green);
        text-decoration: none;
    }
    .footer-element a {
        font-size: smaller;
    }
    .footer-element a:hover, .footer-element i:hover {
        color: #000;
    }
}